Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

#Clean and Split

In [3]:
# Drop all null values
df = df.dropna(axis=0)

In [4]:
#Take a look
df.tail()

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[5 rows x 34 columns]

###Feature Engineering

In [5]:
# New feature: sum all columns with perks
cols = df.columns[10:]
df['tot_perks'] = df[cols].sum(axis=1)

In [6]:
# New feature: sum of bathrooms and bedrooms
df['tot_rooms'] = df[['bathrooms', 'bedrooms']].sum(axis=1)

In [7]:
# New feature: character count for each apartment description
df['desc_count'] = [len(x) for x in df['description']]

0         588
1           8
2         691
3         492
4         479
         ...
49347     787
49348    1125
49349     671
49350     735
49351     799
Name: desc_count, Length: 47260, dtype: int64

In [8]:
#New feature: change interest_level variable to numeric data
df['interest_level'] = df['interest_level'].map({'high': 3, 'medium': 2, 'low': 1})

###Split by datetime

In [9]:
# Change to datetime
df['created'] = pd.to_datetime(df['created'])
df['created']

0       2016-06-24 07:54:24
1       2016-06-12 12:19:27
2       2016-04-17 03:26:41
3       2016-04-18 02:22:02
4       2016-04-28 01:32:41
                ...
49347   2016-06-02 05:41:05
49348   2016-04-04 18:22:34
49349   2016-04-16 02:13:40
49350   2016-04-08 02:13:33
49351   2016-04-12 02:48:07
Name: created, Length: 47260, dtype: datetime64[ns]

In [10]:
# Extract only month
df['created'] = df['created'].dt.month

In [11]:
# Split time series to April/May and June
cutoff = 5
mask = df['created'] <= cutoff
train, test = df[mask], df[~mask]
test

       bathrooms  bedrooms  created  ... tot_perks tot_rooms  desc_count
0            1.5         3        6  ...         0       4.5         588
1            1.0         2        6  ...         5       3.0           8
11           1.0         1        6  ...         0       2.0         690
14           1.0         1        6  ...         3       2.0         569
24           2.0         4        6  ...        11       6.0         870
...          ...       ...      ...  ...       ...       ...         ...
49305        1.0         2        6  ...         2       3.0         382
49310        1.0         3        6  ...         8       4.0        2289
49320        1.0         1        6  ...         2       2.0         281
49332        1.0         2        6  ...         4       3.0         519
49347        1.0         2        6  ...         5       3.0         787

[16454 rows x 37 columns]

In [12]:
# Check that it worked
train['created'].value_counts()
test['created'].value_counts()

6    16454
Name: created, dtype: int64

In [13]:
# Check that all data is accounted for
assert train['created'].value_counts().sum() + test['created'].value_counts().sum() == len(df)

#Regression Model

In [14]:
# Create target variable and feature matrix from train and test data
X_train, y_train = train[['tot_rooms', 'tot_perks', 'latitude', 'longitude', 'interest_level']], train['price']
X_test, y_test = test[['tot_rooms', 'tot_perks', 'latitude', 'longitude', 'interest_level']], test['price']

In [15]:
# import
from sklearn.linear_model import LinearRegression
# instantiate class
model = LinearRegression()
# fit data to model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
# Print out model parameters
print('LR Coefficients:', model.coef_[0], model.coef_[1], model.coef_[2], model.coef_[3], model.coef_[4])
print('LR Intercept:', model.intercept_)

LR Coefficients: 789.9531431125596 74.22531476909393 1627.6467902144234 -14330.177983793186 -546.5083857855502
LR Intercept: -1124556.5209311221

#Metrics

In [17]:
# MAE; lowest atm: 866.15; desc_count doesn't do much, adding latitude and longitude creates new MAE: 798.89
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

print('Training MAE:', mean_absolute_error(y_train, model.predict(X_train)))
print('Test MAE:', mean_absolute_error(y_test, model.predict(X_test)))

Training MAE: 751.5360370238259
Test MAE: 758.8103640875042

In [18]:
# RMSE

print('Training RMSE:', mean_squared_error(y_train, model.predict(X_train), squared=False))
print('Test RMSE:', mean_squared_error(y_test, model.predict(X_test), squared=False))

Training RMSE: 1179.933187805418
Test RMSE: 1171.9480998185504

In [19]:
# R^2

print('Training R^2:', r2_score(y_train, model.predict(X_train)))
print('Test R^2:', r2_score(y_test, model.predict(X_test)))

Training R^2: 0.5526588595175419
Test R^2: 0.5601537598219868

In [20]:
# Alt R^2

model.score(X_train, y_train)
model.score(X_test, y_test)

0.5601537598219868